.buttons {
	background: black;
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 0.3rem 2rem;
	border-radius: 4rem 4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0 0.1rem 0.2rem;
	border: none!important;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.buttons:hover,
.buttons:active {
    opacity: 70%; 
}

@media screen and (max-width: 46em) {
    .buttons {
        font-size: var(--base-font-size);
        width: 7.5rem;
        height: 2rem;
		margin-top: 2vw;
    }
}