.buttons {
	background: black;
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    /* padding: 0.3rem 2rem; */
	border-radius: 4rem 4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0 0.1rem 0.2rem;
	border: none!important;
	cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10rem;
    height: 2.5rem;

}

.buttons:hover,
.buttons:active {
    opacity: 70%; 
}

@media screen and (max-width: 768px) {
    .buttons {
        font-size: 0.79rem;
        width: 7.5rem;
        height: 2rem;
		margin-top: 2vw;
    }
}