.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	/* position: fixed; */
	width: 100%;
	z-index: 1; /* keeps it on top of other info */
	/* top: -12.5rem; */
	/* transition: top 0.3s ease; */
}
  

.nav-item {
	color: black;
	text-decoration: none;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: solid 0.18rem var(--skyblue);  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

#name {
	font-weight: var(--fw-bold);
	font-size: var(--fs-name);
}

.icon {
	display: none;
	position: absolute;
	right: 4vw;
	padding-right: 6vw;
	color: var(--white);
	font-size: var(--fs-icon);
}

.brand {
    text-align: left;
}

.sections {
	font-size: var(--fs-sections);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.grid-navbar {
    display: flex;
    align-items: center;
	gap: 4rem;
    font-size: 1.2rem;
    font-weight: 400;
}

#logo:hover {
    transition: .3s ease;
    transform: scale(1.1);  
}

@media screen and (max-width: 46em) {
	.icon {
		display: block;
	}

	.sections {
		font-size: var(--fs-sections);
	}

	.visibility {
		display: none;
	}

	.responsive {
		display: flex;
		flex-direction: column;
	}

	.responsive a {
		display: block;
		float: none;
	}

	.grid-navbar {
		gap: 1.5rem;
		margin: 1rem 0;
	}
}

@media screen and (max-width: 30em) {
	#name {
		font-size: var(--fs-5);
	}

	.icon {
		font-size: var(--fs-5);
	}

	.sections {
		font-size: var(--base-font-size);
	}

	.grid-navbar {
		gap: 1rem;
	}
}