h1 {
    font-size: 2.986rem;
    margin-top: 0;
}

h2 {
    margin: 0 1rem;
}

h3 {
    font-size: 1rem;
    color: #252525;
}

h4 {
    font-size: 2.488rem;
    font-weight: 800;
}

p {
    font-size: 1rem;
    font-weight: 300;
    color: black;
    margin-top: 5px;
}

.tool {
    padding-top: 10px;
    line-height: 15px;
}

.header-one {
    background: -webkit-linear-gradient(#9ec5d4, white);
    max-height: 50vh !important;
    padding: 9.5rem 0 !important;
}

.header-thumb {
    border-radius: 2rem 2rem;
    width: 35rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* 
========================
    Home
========================
*/

.tool {
    color: #ffffff;
    font-size: 0.79rem;
    opacity: 90%;
    font-style: italic;
}

/* Portfolio section styles
/* ========================================== */
.portfolio-thumb {
    border-radius: 1rem 1rem;
    position: relative;
    width: 100%;
}

.portfolio-img {
    width: 380px;
    height: 260px;
    object-fit: cover;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    /* padding: 1rem 3rem !important; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-overlay p{
    margin: 0 2rem;
}

.filter-wrapper li a {
    font-size: 1rem;
    border-radius: 2rem 2rem;
}

/* 
========================
    About, Contact
========================
*/

#about {
    padding: 2rem 0;
}

#about img {
    padding-bottom: 0;
    border-radius: 2rem 2rem;
    
}

#about .col-md-4 {
    padding-bottom: 16px;
}

#bio, #contact-info {
    align-content: center;
    padding-left: 2rem;
}

#contact {
    padding-bottom: 3rem;
    padding-top: 1rem;
}

#contact-img {
    padding-top: 0 !important;
    align-items: center;
    margin-bottom: 2rem;
}

#contact input[type='submit'] {
	color: #ffffff;
	font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
	border-radius: 4rem 4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0 0.1rem 0.2rem;
	border: none!important;
	cursor: pointer;
	transition: opacity 0.3s ease;
    /* padding: 0 1rem; */
}

#contact input[type='submit']:hover {
    opacity: 70%; 
}

/* 
========================
    Tablet/Mobile Views
========================
*/
@media screen and (max-width: 980px) {
    #contact {
        padding-top: 0;
    }

    #contact-img {
        margin-bottom: 0rem;
    }

    .column {
        flex-direction: column;
    }

    #contact-img {
        margin-bottom: 2rem;
    }

    .contact-submit {
        width: 15rem;
    }
}

@media screen and (max-width: 768px) {
    .header-thumb {
        width: 26rem;
    }

    h1 {
        font-size: 2.488rem;
    }

    h3, p, .iso-section li a {
        font-size: 0.79rem;
    }

    h4 {
        font-size: 2.074rem;
        align-content: center;
    }

    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex-direction: column;
    }

    #about img {
        margin-top: 2rem;
    }

    #bio {
        text-align: center;
        padding-left: 15px;
    }

    footer {
        padding-top: 2rem;
    }

    #contact input[type='submit'] {
        font-size: 0.79rem;
        width: 11rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .header-thumb {
        width: 21rem;
    }

    h1 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }
}