.buttons {
	background: var(--blue);
	color: var(--white);
	font-size: var(--fs-button);
	width: 10vw;
	height: 3vw;
	border-radius: 4rem 4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0 0.188rem 0.5rem;
	border: none!important;
	margin-top: 1.3rem;
	cursor: pointer;
	/* opacity: 1; */
	transition: opacity 0.3s ease;
}

.buttons:hover,
.buttons:active {
    opacity: 70%; 
}

@media screen and (max-width: 46em) {
    .buttons {
        font-size: var(--base-font-size);
        width: 7.5rem;
        height: 2rem;
		margin-top: 2vw;
    }
}