/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
  width: 100%;
}

/* Row */
.o-grid__row,
.ogrid__row-art {
  margin: 4%;
  margin-bottom: 0;
}

.o-grid__row-modal {
  margin-top: 0;
}

/* Column */
.o-grid__col {
  padding: 0 3%;
}

@media screen and (max-width: 46em) {
  .o-grid__row {
    margin-left: 0;
    margin-right: 0;
  }

  .o-grid__row-art {
    margin: 0;
  }

  .o-grid__row-modal {
    margin: 0 4%;
  }

  .o-grid__col {
    margin-top: 4vw;
  }
}
