/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
    width: 100%;
}

/* Row */
.o-grid__row {
    margin: 4%;
}

/* Column */
.o-grid__col {
    padding: 0 3%;
}

@media screen and (max-width: 74em) {
    .o-grid__row {
        margin-left: 0;
        margin-right: 0;
    }

    .o-grid__col {
		margin-top: 4vw;
	}
}