/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
  /* clear: both; */
  width: 100%;
  /* margin-top: var(--base-spacing-unit); */

}

/* Row */
.o-grid__row {
    display: flex;
    margin: 5%;

    /* margin-left: var(--base-spacing-unit);
    margin-top: var(--base-spacing-unit); */
    /* margin-top: 0; */
}

/* Column */

.o-grid__col {
  /* padding-left: var(--base-spacing-unit);
  padding-top: var(--base-spacing-unit); */
  padding: 0 3%;
}

@media screen and (max-width: 992px) {
	.o-grid__row {
		flex-direction: column;
	}
}