.home-section {
	background-image: linear-gradient(180deg, var(--blue-medium), 90%, var(--skyblue-light));
    height: 100vh;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.container__home {
	padding: 8%;
}

.title {
	display: flex;
	justify-content: center;
	color: var(--white);
	font-size: var(--fs-title);
}

#app {
	font-size: var(--fs-typewriter);
}

#profile-icon {
	width: 100%;
}

/* 
========================
    Arrow
========================
*/

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0) rotate(45deg);
	}
	40% {
	  transform: translateY(-30px) rotate(45deg);
	}
	60% {
	  transform: translateY(-15px) rotate(45deg);
	}
}

.arrow {
	border: solid var(--black);
	border-color: var(--white);
	border-width: 0 0.18rem 0.18rem 0;
	padding: 0.625rem;
  	-webkit-transform: rotate(45deg);
  	transition: 0.3s;
  	animation: bounce 3s infinite;
}

.arrow:hover {
	-webkit-animation-play-state: paused;
	opacity: 60%;
	transform: scale(1.1) rotate(45deg);
}

@media screen and (max-width: 61em) {
	.container__home {
		padding: 10% 2%;
	}

	.title {
		display: flex;
		justify-content: center;
		color: var(--white);
		font-size: var(--fs-title__tablet);
	}

	#app {
		font-size: var(--fs-typewriter__tablet);
	}

	.arrow {
		padding: 0.55rem;
	}
}