@import "style.css";

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--blue-dark);
	position: fixed;
	width: 100%;
	padding: 1vw 6vw;
	z-index: 1;
	top: -12.5rem;
	transition: top 0.3s ease;
}

.icon {
	display: none;
	position: absolute;
	right: 6vw;
	color: var(--white);
	padding: 1.5rem;
	font-size: var(--fs-2);
}

#name {
	font-weight: var(--fw-bold);
	font-size: var(--fs-2);
}

.sections {
	font-size: var(--fs-4);
}

.nav-item {
	color: #FFFFFF;
	padding: 2rem;
	text-decoration: none;
}



@media screen and (max-width: 74em) {
	.icon {
		display: block;
	}

	.visibility {
		display: none;
	}

	.responsive {
		display: flex;
		flex-direction: column;
	}

	.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav a.icon {
		float: right;
		display: block;
		padding: 24px;
	}

	.topnav .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	
}

@media screen and (max-width: 40em) {
	#name {
		font-size: var(--fs-name);
	}

	.icon {
		font-size: var(--fs-name);
	}

	.sections {
		font-size: 4vw;
	}
}

/* Mobile */
/* @media screen and (max-width: 640px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
} */

