@import "style.css";

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--blue-dark);
	position: fixed;
	width: 100%;
	padding: 1vw 6vw;
	z-index: 1;
	top: -12.5rem;
	transition: top 0.3s ease;
}

.icon {
	display: none;
	position: absolute;
	right: 6vw;
	padding: 1.5rem;
	color: var(--white);
	font-size: var(--fs-2);
}

#name {
	font-weight: var(--fw-bold);
	font-size: var(--fs-2);
}

.nav-item {
	color: #FFFFFF;
	padding: 2rem;
	text-decoration: none;
}

.sections {
	font-size: var(--fs-4);
}

@media screen and (max-width: 74em) {
	.icon {
		display: block;
	}

	.visibility {
		display: none;
	}

	.responsive {
		display: flex;
		flex-direction: column;
	}

	.responsive a {
		display: block;
	}
}

@media screen and (max-width: 40em) {
	#name {
		font-size: var(--fs-name);
	}

	.icon {
		font-size: var(--fs-name);
	}

	.sections {
		font-size: 4vw;
	}
}