.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--blue-dark);
	position: fixed;
	width: 100%;
	padding: 1vw 6vw;
	z-index: 1;
	top: -12.5rem;
	transition: top 0.3s ease;
}

.nav-item {
	color: #FFFFFF;
	padding: 0 2rem;
	text-decoration: none;
}

.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: solid 0.25rem var(--skyblue);  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

#name {
	font-weight: var(--fw-bold);
	font-size: var(--fs-name);
}

.icon {
	display: none;
	position: absolute;
	right: 4vw;
	padding-right: 6vw;
	color: var(--white);
	font-size: var(--fs-icon);
}

.sections {
	font-size: var(--fs-sections);
}

@media screen and (max-width: 74em) {
	.icon {
		display: block;
	}

	.sections {
		padding: 1.2rem 0;
	}

	.visibility {
		display: none;
	}

	.responsive {
		display: flex;
		flex-direction: column;
	}

	.responsive a {
		display: block;
		float: none;
	}
}

@media screen and (max-width: 40em) {
	#name {
		font-size: var(--fs-name__tablet);
	}

	.icon {
		font-size: var(--fs-name__tablet);
	}

	.sections {
		font-size: var(--fs-sections__tablet);
		padding: 3vw 0;
	}
}